### Importación de datos

In [ ]:
import pandas as pd
import matplotlib.pyplot as plt

url = "https://raw.githubusercontent.com/alura-es-cursos/challenge1-data-science-latam/refs/heads/main/base-de-datos-challenge1-latam/tienda_1%20.csv"
url2 = "https://raw.githubusercontent.com/alura-es-cursos/challenge1-data-science-latam/refs/heads/main/base-de-datos-challenge1-latam/tienda_2.csv"
url3 = "https://raw.githubusercontent.com/alura-es-cursos/challenge1-data-science-latam/refs/heads/main/base-de-datos-challenge1-latam/tienda_3.csv"
url4 = "https://raw.githubusercontent.com/alura-es-cursos/challenge1-data-science-latam/refs/heads/main/base-de-datos-challenge1-latam/tienda_4.csv"

tienda = pd.read_csv(url)
tienda2 = pd.read_csv(url2)
tienda3 = pd.read_csv(url3)
tienda4 = pd.read_csv(url4)

tienda.head()

,Producto,Categoría del Producto,Precio,Costo de envío,Fecha de Compra,Vendedor,Lugar de Compra,Calificación,Método de pago,Cantidad de cuotas,lat,lon
0,Asistente virtual,Electrónicos,164300.0,6900.0,16/01/2021,Pedro Gomez,Bogotá,4,Tarjeta de crédito,8,4.60971,-74.08175
1,Mesa de comedor,Muebles,192300.0,8400.0,18/05/2022,Beatriz Morales,Medellín,1,Tarjeta de crédito,4,6.25184,-75.56359
2,Juego de mesa,Juguetes,209600.0,15900.0,15/03/2021,Juan Fernandez,Cartagena,1,Tarjeta de crédito,1,10.39972,-75.51444
3,Microondas,Electrodomésticos,757500.0,41000.0,03/05/2022,Juan Fernandez,Cali,4,Nequi,1,3.43722,-76.52250
4,Silla de oficina,Muebles,335200.0,20200.0,07/11/2020,Maria Alfonso,Medellín,5,Nequi,1,6.25184,-75.56359

# 1. Análisis de facturación

In [35]:
totalTienda1 = tienda["Precio"].sum()
totalTienda2 = tienda2["Precio"].sum()
totalTienda3 = tienda3["Precio"].sum()
totalTienda4 = tienda4["Precio"].sum()

In [36]:
print(f"Tienda 1: {totalTienda1}")
print(f"Tienda 2: {totalTienda2}")
print(f"Tienda 3: {totalTienda3}")
print(f"Tienda 4: {totalTienda4}")

Tienda 1: 1150880400.0
Tienda 2: 1116343500.0
Tienda 3: 1098019600.0
Tienda 4: 1038375700.0

# 2. Ventas por categoría

In [48]:
ventasPorCategoriaTienda1 = tienda.groupby("Categoría del Producto")["Producto"].count().idxmax()
ventasPorCategoriaTienda2 = tienda2.groupby("Categoría del Producto")["Producto"].count().idxmax()
ventasPorCategoriaTienda3 = tienda2.groupby("Categoría del Producto")["Producto"].count().idxmax()
ventasPorCategoriaTienda4 = tienda4.groupby("Categoría del Producto")["Producto"].count().idxmax()

In [49]:
print(f"Categoria popular tienda 1: {ventasPorCategoriaTienda1}")
print(f"Categoria popular tienda 2: {ventasPorCategoriaTienda2}")
print(f"Categoria popular tienda 3: {ventasPorCategoriaTienda3}")
print(f"Categoria popular tienda 4: {ventasPorCategoriaTienda4}")

Categoria popular tienda 1: Muebles
Categoria popular tienda 2: Muebles
Categoria popular tienda 3: Muebles
Categoria popular tienda 4: Muebles

# 3. Calificación promedio de la tienda

In [50]:
promedioCalTienda1 = tienda["Calificación"].median()
promedioCalTienda2 = tienda2["Calificación"].median()
promedioCalTienda3 = tienda3["Calificación"].median()
promedioCalTienda4 = tienda4["Calificación"].median()

In [51]:
print(f"Tienda 1: {promedioCalTienda1}")
print(f"Tienda 2: {promedioCalTienda2}")
print(f"Tienda 3: {promedioCalTienda3}")
print(f"Tienda 4: {promedioCalTienda4}")

Tienda 1: 5.0
Tienda 2: 5.0
Tienda 3: 5.0
Tienda 4: 5.0

# 4. Productos más y menos vendidos

In [61]:
productoMasVendidoTienda1 = tienda["Producto"].value_counts().idxmax()
cantidadMasVendidoTienda1 = tienda["Producto"].value_counts().max()
productoMasVendidoTienda2 = tienda2["Producto"].value_counts().idxmax()
cantidadMasVendidoTienda2 = tienda2["Producto"].value_counts().max()
productoMasVendidoTienda3 = tienda3["Producto"].value_counts().idxmax()
cantidadMasVendidoTienda3 = tienda3["Producto"].value_counts().max()
productoMasVendidoTienda4 = tienda4["Producto"].value_counts().idxmax()
cantidadMasVendidoTienda4 = tienda4["Producto"].value_counts().max()

In [62]:
print(f"Tienda 1: {productoMasVendidoTienda1}, {cantidadMasVendidoTienda1} veces")
print(f"Tienda 2: {productoMasVendidoTienda2}, {cantidadMasVendidoTienda2} veces")
print(f"Tienda 3: {productoMasVendidoTienda3}, {cantidadMasVendidoTienda3} veces")
print(f"Tienda 4: {productoMasVendidoTienda4}, {cantidadMasVendidoTienda4} veces")

Tienda 1: Microondas, 60 veces
Tienda 2: Iniciando en programación, 65 veces
Tienda 3: Kit de bancas, 57 veces
Tienda 4: Cama box, 62 veces

# 5. Envío promedio por tienda

In [52]:
costoEnvioTienda1 = tienda["Costo de envío"].mean()
costoEnvioTienda2 = tienda2["Costo de envío"].mean()
costoEnvioTienda3 = tienda3["Costo de envío"].mean()
costoEnvioTienda4 = tienda4["Costo de envío"].mean()

In [53]:
print(f"Costo envio tienda 1: {costoEnvioTienda1}")
print(f"Costo envio tienda 2: {costoEnvioTienda2}")
print(f"Costo envio tienda 3: {costoEnvioTienda3}")
print(f"Costo envio tienda 4: {costoEnvioTienda4}")

Costo envio tienda 1: 26018.60958033065
Costo envio tienda 2: 25216.235693090293
Costo envio tienda 3: 24805.680373039424
Costo envio tienda 4: 23459.457167090754